<ul>
	<li><%= link_to "Home", root_path  %></li>
	<li><%= link_to "Regions", regions_path  %></li>
	<li><%= link_to "Months", months_path  %></li>
	<li><%= link_to "Years", years_path  %></li>
	<li><%= link_to "Travel Data", reg_months_path  %></li>

</ul>